<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                                                                                                                                                                                      
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/21481146?query=java%20Munich">Senior Java Software Developer (relocation to Munich, Germany)</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000004162">Java Developer / Java разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034654">Lead Java Backend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Ulmart</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000012724">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033957">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">URSIP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034850">Java Developer - RiskEngine От 180 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034653">Senior Java Backend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Ulmart</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000004160">Java/Android Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034505">Разработчик Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Рексофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033676">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Альфа Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034977">Java Developer</a></td> 
     <td class="city">Долгопрудный</td> 
     <td class="companyName">Paragon Software Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034935">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">CSSSR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000030151">JAVA разработчик От 20 000 до 60 000 руб.</a></td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">UnitBean</td> 
     <td class="salary">От 20 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034787">Java Developer - Regulatory Tech От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000030572">Java-разработчик От 100 000 руб.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">e2e4</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000029550">Java developer От 100 000 до 130 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">SiFOX</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034622">Разработчик java От 50 000 руб.</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ХОСТ</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034247">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Naumen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033569">Java разработчик От 135 000 до 170 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RE GROUP</td> 
     <td class="salary">От 135 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034423">Разработчик Java От 100 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНПАС КОМПАНИ</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033536">Java Developer От 180 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Авто49</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027026">Java Developer От 100 000 до 150 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Maping &amp; Flexi Connect Ltd</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032132">JAVA программист (микросервисы) От 100 000 до 150 000 руб.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">SoftAge</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033475">Java Backend Разработчик До 190 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Банк Русский Стандарт»</td> 
     <td class="salary">До 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000031243">Преподаватель по Java EE От 20 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034711">Java Tech Lead/ Senior Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Return on Intelligence</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034238">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бакка Софт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034765">Java De⁢veloper</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034458">Java разработчик/архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фирма "1С"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034708">Lead Java Engineer От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034394">Junior backend разработчик (Java, Node.js) От 40 000 до 50 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">eZWay</td> 
     <td class="salary">От 40 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027899">Middle Java Developer От 50 000 руб.</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034919">Middle/Senior Web developer Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">КОРУС Консалтинг СНГ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033610">Java - разработчик</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">ООО Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034144">Программист/разработчик Java От 70 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PSI Logistics</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000028882">Программист Java/Scala От 40 000 руб.</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Zeppelinen</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032575">Java-программист (middle) От 100 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Petshop.ru</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034735">Старший Java-разработчик От 150 000 до 210 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TaskData</td> 
     <td class="salary">От 150 000 до 210 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034528">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034683">Full-stack (Java+Javascript) разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Altarix</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034941">Senior Java Engineer, Financial Analytics System Development</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034581">Senior Java Architect / Professional Services Engineer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034855">Java-Web Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000020239">Senior Scala/Java Developer От 170 000 до 170 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Omni.CRM</td> 
     <td class="salary">От 170 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034825">Senior Java Developer До 220 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Weigandt Consulting</td> 
     <td class="salary">До 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034397">Java developer / разработчик на поддержку системы управления мастер-данными От 250 000 до 300 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 250 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034849">Senior Java developer - dbAces (DealerBoard) От 180 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034762">Android-разра⁢ботчик (Java) От 60 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Heads and Hands</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034396">Java-developer / разработчик на аналитическую платформу От 200 000 до 250 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HFLabs</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034580">Senior Java Architect / Professional Services Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GridGain</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000024503">Ведущий инженер программист С++/Java От 110 000 до 140 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "ФЦНИВТ "СНПО "Элерон"</td> 
     <td class="salary">От 110 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000031330">Мобильный разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034351">Android разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">ТЕХНОКРАТИЯ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034887">Android Developer От 100 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Devim</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034752">Разработчик БД От 150 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО «Система Мультипасс»</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033853">Программист C++/JNI/Qt От 150 000 руб.</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034736">Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033590">Data Engineer/Инженер баз данных</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Veeam Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034680">Инженер по тестированию/QA engineer От 60 000 до 100 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Encoding.com</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000031028">Software Developer (USA) От 3 500 usd.</a></td> 
     <td class="city">Сиэтл</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034061">Salesforce/Force.com Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">CloudAware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034410">Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Distillery</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034706">Lead Android Engineer От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034562">Разработчик Android От 120 000 до 200 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Литиум лаб</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034529">Rust разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033190">Mid-level Software Developer (J2EE) От 50 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Delta Solutions</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032010">Android Developer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034592">Стажер-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DOC+</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034964">Разработчик Android От 150 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PROF-ITGROUP</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034660">Backend-разработчик От 50 000 до 80 000 руб.</a></td> 
     <td class="city">Петрозаводск</td> 
     <td class="companyName">NatLex</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032036">Разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Кнопка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034569">Senior Software Engineer - Backend</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Taxify.eu</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033816">Программист на Android - Open GL/3D - Питер От 230 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Погода YoWindow</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034733">Solution Architect От 160 000 до 250 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TaskData</td> 
     <td class="salary">От 160 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034073">Senior Full Stack Web Developer (Старший веб-разработчик, полный стек) От 80 000 до 120 000 руб.</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ООО "Первая Мониторинговая Компания"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033230">Team Lead (C++/Python)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Mediterra-software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000031672">Android разработчик От 130 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033752">ANDROID HMI DEVELOPER До 250 000 руб.</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034459">Системный архитектор / ведущий системный разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Фирма "1С"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000030325">Senior Android Developer До 4 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">До 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034252">Senior Mobile Developer (iOS and Android) От 160 000 до 200 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Kafoodle</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000030452">Back-end Developer (Big Data)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034392">Android разработчик От 56 000 до 72 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">eZWay</td> 
     <td class="salary">От 56 000 до 72 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034903">Разработчик приложения Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027536">Android разработчик / Android developer До 170 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ответ</td> 
     <td class="salary">До 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034221">Разработчик back-end</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">PROF-ITGROUP</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027235">QA Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Deliver</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033721">Senior backend developer От 80 000 до 100 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">е-Кредит</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034724">Разработчик ПО От 20 000 до 75 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SymbioWay</td> 
     <td class="salary">От 20 000 до 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027761">Front-end Programmer, AngularJS От 60 000 до 80 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">HackPack</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000026377">Senior Backend Developer (Scala/Kotlin) От 2 500 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">whisk</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032763">Senior Android Developer От 70 000 до 150 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034799">Android Developer От 4 200 до 5 800 eur.</a></td> 
     <td class="city"></td> 
     <td class="companyName">NPhire</td> 
     <td class="salary">От 4 200 до 5 800 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034226">Руководитель отдела мобильной разработки</a></td> 
     <td class="city"></td> 
     <td class="companyName">Мамси</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034431">Team lead / Разработчик От 100 000 до 120 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000028403">Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CarPrice.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034539">Системный архитектор До 200 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">IT-hunter</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034786">QA &amp; Testing Automation Engineer - Autobahn Platform От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034005">Backend-разработчик До 150 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sveak</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033466">Руководитель группы разработки/Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034504">Technical writer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Pushwoosh</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034996">Node.js / AWS / Serverless developer wanted for Blockchain Finance Project От 2 000 до 4 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Santiment</td> 
     <td class="salary">От 2 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034995">Project coordinator wanted for Blockchain Finance Project От 1 500 до 3 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Santiment</td> 
     <td class="salary">От 1 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034998">React.js Frontend developer wanted for Blockchain Finance Project От 2 000 до 4 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Santiment</td> 
     <td class="salary">От 2 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034705">Lead Data Scientist От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034245">Программист ASP.NET MVC + AngularJS</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034817">BI Dev⁢eloper</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Аркадия</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000028162">Full stack developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">AppCraft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034391">Senior Android Developer До 140 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WiFi as you go</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer (Symfony, Yii2) От 90 000 до 150 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034707">Lead WebUI Engineer От 180 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034934">Старший back-end разработчик (Node.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Литиум лаб</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034968">GoLang/Python developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lamoda</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034710">Ведущий разработчик встроенных устройств / Senior embedded developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">InfoWings</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034854">iOS Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034694">Data Engineer От 100 000 до 200 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Shopfans</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034851">Senior C++ developer - Quantum От 180 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Deutsche Bank</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000024454">Ведущий JavaScript разработчик (Senior JavaScript Developer)</a></td> 
     <td class="city">Гусев</td> 
     <td class="companyName">GS Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034641">Бэкенд-разработчик (Ruby on Rails) От 120 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034151">Бэкенд-разработчик От 80 000 руб.</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034709">Web-мастер От 45 000 руб.</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">GENES1S intellectual solutions</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034582">СRM-администратор/ Менеджер проекта CRM</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Открытие Факторинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034835">Инженер-тестировщик От 35 000 до 60 000 руб.</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский Центр Систем Безопасности (...</td> 
     <td class="salary">От 35 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034638">Бэкенд-разработчик (Ruby on Rails) От 120 000 руб.</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027995">Исследователь в области ИБ / Программист-аналитик От 70 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НеоБИТ</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034632">Senior С#/Unity 3D разработчик (GameDev) От 100 000 до 140 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Plamee</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000026549">Android разработчик</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">appwilio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032266">Ведущий разработчик мобильных приложений на платформе Андроид От 130 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бэби.ру</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034856">ИТ специалист До 50 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Weigandt Consulting</td> 
     <td class="salary">До 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034343">React / React Native software developer. От 120 000 до 160 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Технологии страхования</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034427">QA инженер (iOS / Android приложение Zvooq) / инженер по тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000032404">PHP-разработчик (Web Applications) От 90 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034869">Front End Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033650">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000028030">Методист курса "Подготовка к собеседованию на Android разработчика" От 30 000 до 45 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034689">Automation QA Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sperasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034220">Python Guru От 5 000 до 7 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Антирабство</td> 
     <td class="salary">От 5 000 до 7 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000025557">Старший разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dodo IS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034256">DevOps engineer От 2 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Petrosoft LLC</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034853">iOS Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034796">Senior Backend Developer</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">Xsolla</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034640">Бэкенд-разработчик (Ruby on Rails) От 120 000 руб.</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034490">Frontend AngularJS developer От 60 000 до 130 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Spasibo Technologies</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033159">Ведущий веб-разработчик / Team Lead До 150 000 руб.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000027966">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034639">Бэкенд-разработчик (Ruby on Rails) От 120 000 руб.</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails) От 120 000 руб.</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033500">Frontend Developer (JS, React, React Native) От 2 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">InterPals.net</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034826">iOS/Android Developer От 45 000 руб.</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Mint Rocket</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034281">Ruby on Rails Full Stack Developer От 2 000 usd.</a></td> 
     <td class="city"></td> 
     <td class="companyName">OneClass</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034074">Специалист по машинному обучению (с фокусом на NLP в медицинских текстах) От 1 500 до 3 500 usd.</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Droice Labs</td> 
     <td class="salary">От 1 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000025522">Python разработчик / Python Developer От 100 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034512">Data Scientist</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000024496">Backend Engineer (Go) От 3 000 до 4 000 usd.</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Juno</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer От 100 000 руб.</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://moikrug.ru/vacancies/1000034435">Senior Frontend Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Pushwoosh</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>